.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.one-line-list .li-item {
  display: inline;
  padding-right: 10px;
}

.one-line-list .li-item:hover {
  color: cyan;
  cursor: pointer;
}
